.sheet {
  margin: 10px auto;
  width: 80%;
  max-width: 780px;
  max-height: 380px;
  overflow-y: scroll;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.barline {
  border: 1px solid #888;
}

@media screen and (max-width: 764px) {
  .sheet {
    max-height: none;
  }
}

@media screen and (min-height: 800px) {
  .sheet {
    max-height: 500px;
  }
}
