.header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px -2px #cbcbcb;
}

.header-icon {
  width: 25px;
  height: 25px;
}

.header-title {
  display: block;
  margin: auto;
}

.header-logo {
  width: 220px;
}
