.header {
  margin: auto;
  height: 75px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px -2px #cbcbcb;
}

.header-icon {
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
}

.header-settings {
  width: 25px;
  height: 25px;

  cursor: pointer;
}
