.measure {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0 10px;
  border-bottom: 1px solid gray;
  width: 40%;
}

.quarter-sticker {
  margin: 5% 0;
  width: 14%;
  border-radius: 50%;
}

.quarter-sticker:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.eighth-sticker {
  margin: 4% 1%;
  font-weight: bold;
  width: 14%;
  border-radius: 50%;
}

.eighth-sticker:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.tan {
  background-color: tan;
}
