.piano {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 730px;
  margin-left: -365px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  background-color: #7f7988;
  border-radius: 10px;
}

@media screen and (max-width: 764px) {
  .piano {
    display: none;
  }
}

.keys {
  position: relative;
}

.white-keys {
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.black-keys {
  position: relative;
  z-index: 10;
  display: flex;
}
