.title {
  background-image: url("../assets/pianoBackground.png");
  background-size: cover;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .title {
    width: 160px;
    height: 40px;
  }

  .title-text {
    font-size: 1.1rem;
  }
}
