.sidebar {
  position: fixed;
  top: 75px;
  left: -100%;
  width: 220px;
  height: 100vh;
  border: 1px solid gray;
  background: rgb(166, 205, 255);
  color: blue;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 700ms;
  border-radius: 2px;
}

.sidebar.active {
  left: 0;
  transition: 350ms;
}

.sidebar-list a {
  text-decoration: none;
}

.sidebar-list li {
  list-style: none;
  color: white;
  border: 1px solid black;
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  font-size: 1.2rem;
  text-shadow: 1px 1px black;
}

.sidebar-list li:hover {
  background-color: blue;
}

.sidebar-list li:active {
  background-color: blue;
  box-shadow: inset 0 0 10px black;
}
